body {
    text-align: center;
}

*{
    background-color:rgb(245, 245, 214)
}



.new_background{
    color:lightpink;
}




h1 {
    font-family: cursive;
    color:black;
    background-color:darkcyan;

}


img{
    width: 30%
    border-radius: 50%
    border-width: 50%;
    border-color:
}

p {
    font-family: serif;
    font-size: medium;
    font-style: normal
}


